# Gradle
.gradle/
build/

# Local configuration
local.properties

# Log/OS files
*.log
.DS_Store
Thumbs.db

# Android Studio
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
*.hprof

# NDK / C++
*.so
*.a
*.o

# Keystore files
*.jks
*.keystore

# App bundles / APKs
*.apk
*.aab
output-metadata.json

# Google Services
google-services.json